body{
  font-family: Roboto,Helvetica Neue,sans-serif;
  background-color: #eee;
}
nav ul a{
  display: initial;
  padding: 10px 20px;
  font-size: 30px;
}
nav ul a:hover{
  background-color: #0c3e74;
}
nav, .page-footer{
  background-color: #243a51;
}
.sidenav li>a:hover{
  color:white;
  background-color: #4255d8;
}
.tabs{
  font-weight: bold;
}
.tabs li  a{
  text-transform:capitalize;
}
.tabs .tab a{
  color: #083761;
  font-size: 17px;
}
.card-title{
  color:lawngreen;
  font-weight: bold;
}
.title{
  font-size: 20px;
}
pre, span {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
